<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/navbar :: navbar"/>

<!-- Start template -->
<h1>DO QUIZ</h1>
<div class="container">
    <div class="jumbotron">
        <span th:text="${quiz.name}"/>
    </div>
</div>


<!-- End template -->

<head th:replace="fragments/script :: script"/>
<script>
    /*window.onload = function() {

    };*/
    $( document ).ready(function() {
        console.log("JQuery is working!");
        getQuiz();
    });

    function getQuiz(){
        var url = new URL(window.location.href);
        var quizId = url.searchParams.get("id");
        var data = "quizid=" + quizId;
        $.post('http://localhost:8080/getquiz', data, function(data, status){
            console.log(data)
        })
    }
</script>
</body>
</html>