<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/navbar :: navbar"/>

<!-- Start template -->

<div class="container">
    <h1>DO QUIZ</h1>
    <div class="jumbotron">
        <h1 id="name"></h1>
        <span id="question-nr"></span>
        <p id="question"></p>
        <div id="answer"></div>
    </div>
</div>


<!-- End template -->

<head th:replace="fragments/script :: script"/>
<script src="js/do-quiz.js"></script>
</body>
</html>