<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<head th:replace="fragments/navbar :: navbar"/>

<div class="container">
    <div th:each="quiz : ${quizzes}" class="jumbotron">

        <h2><a th:href="@{/doquiz(id=${quiz.quizId})}"><span th:text="${quiz.name}"/></a></h2>
        <p><b>Difficulty:</b> <span th:text="${quiz.difficulty}"/></p>
        <p><b>Quiz type:</b> <span th:text="${quiz.type}"/></p>

    </div>
</div>


<head th:replace="fragments/script :: script"/>
</body>
</html>